# 1. 자료구조와 알고리즘, 코딩테스트

In [ ]:
[1, 2, 3].reverse()
reversed([1, 2, 3]) # 공간복잡도 문제가 나올경우 오답 가능성 있음
[1, 2, 3][::-1] # 속도는 빠르지만 공간복잡도 문제가 나올경우 오답 가능성 있음

In [ ]:
[f'{i} X {j} = {i * j}' for i in range(2, 10) for j in range(1, 10)]

['2 X 1 = 2',
 '2 X 2 = 4',
 '2 X 3 = 6',
 '2 X 4 = 8',
 '2 X 5 = 10',
 '2 X 6 = 12',
 '2 X 7 = 14',
 '2 X 8 = 16',
 '2 X 9 = 18',
 '3 X 1 = 3',
 '3 X 2 = 6',
 '3 X 3 = 9',
 '3 X 4 = 12',
 '3 X 5 = 15',
 '3 X 6 = 18',
 '3 X 7 = 21',
 '3 X 8 = 24',
 '3 X 9 = 27',
 '4 X 1 = 4',
 '4 X 2 = 8',
 '4 X 3 = 12',
 '4 X 4 = 16',
 '4 X 5 = 20',
 '4 X 6 = 24',
 '4 X 7 = 28',
 '4 X 8 = 32',
 '4 X 9 = 36',
 '5 X 1 = 5',
 '5 X 2 = 10',
 '5 X 3 = 15',
 '5 X 4 = 20',
 '5 X 5 = 25',
 '5 X 6 = 30',
 '5 X 7 = 35',
 '5 X 8 = 40',
 '5 X 9 = 45',
 '6 X 1 = 6',
 '6 X 2 = 12',
 '6 X 3 = 18',
 '6 X 4 = 24',
 '6 X 5 = 30',
 '6 X 6 = 36',
 '6 X 7 = 42',
 '6 X 8 = 48',
 '6 X 9 = 54',
 '7 X 1 = 7',
 '7 X 2 = 14',
 '7 X 3 = 21',
 '7 X 4 = 28',
 '7 X 5 = 35',
 '7 X 6 = 42',
 '7 X 7 = 49',
 '7 X 8 = 56',
 '7 X 9 = 63',
 '8 X 1 = 8',
 '8 X 2 = 16',
 '8 X 3 = 24',
 '8 X 4 = 32',
 '8 X 5 = 40',
 '8 X 6 = 48',
 '8 X 7 = 56',
 '8 X 8 = 64',
 '8 X 9 = 72',
 '9 X 1 = 9',
 '9 X 2 = 18',
 '9 X 3 = 27',
 '9 X 4 = 36',
 '9 X 5 = 45',
 '9 X 6 = 54',
 '9 X 7 = 63',
 '9 X 8 = 72',
 '9 X 9 = 81']

## 1.3 워밍업 문제

### 1.3.1 워밍업 문제 - 1

만약 아래 워밍업 문제가 감도 안오신다 하면 Lv1 ~ Lv2 암기해주세요.

1부터 10,000까지 8이라는 숫자가 총 몇번 나오는가?

8이 포함되어 있는 숫자의 갯수를 카운팅 하는 것이 아니라 8이라는 숫자를 모두 카운팅 해야 한다. (※ 예를들어 8808은 3, 8888은 4로 카운팅 해야 함)

문제 링크 : https://codingdojang.com/scode/393

In [ ]:
[0, 0, 0, 0]
[9, 9, 9, 9]

In [ ]:
list(range(10))
'[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]'
str(list(range(10)))
str(list(range(10001))).count('8')

4000

In [ ]:
%%timeit

str(list(range(10001))).count('8')

1000 loops, best of 5: 927 µs per loop

In [ ]:
%%timeit

cnt = 0
for i in range(1, 10001):
    j = 0
    while j < len(str(i)):
        if str(i)[j] == '8':
            cnt += 1
        j += 1

10 loops, best of 5: 23.2 ms per loop

In [ ]:
%%timeit

str([i for i in range(10001)]).count(str(8))

1000 loops, best of 5: 1.12 ms per loop

### 1.3.1 워밍업문제 - 2

1차원의 점들이 주어졌을 때, 그 중 가장 거리가 짧은 것의 쌍을 출력하는 함수를 작성하시오. (단 점들의 배열은 모두 정렬되어있다고 가정한다.)

예를들어 S = [1, 3, 4, 8, 13, 17, 20] 이 주어졌다면, 결과값은 (3, 4)가 될 것이다.

문제링크 : https://codingdojang.com/scode/408

In [ ]:
s = [1, 3, 4, 8, 13, 17, 20]
m = s[-1] # max(s)
index = 0
for i in range(len(s) - 1):
    if m > s[i+1] - s[i]:
        index = i
        m = s[i+1] - s[i]

s[index], s[index+1]

(3, 4)

In [ ]:
s = [-20, -17, -13, -8, -4, -3, -1]
m = max(abs(min(s)), max(s)) # 음수였을 경우에는 max(abs(-20), -1)
index = 0
for i in range(len(s) - 1):
    # print(s[i+1] - s[i])
    if m > s[i+1] - s[i]:
        index = i
        # print(f'{index}, s[i+1] - s[i]')
        m = s[i+1] - s[i]

s[index], s[index+1]

# -17 - -20 = 3
# -13 - -17 = 4
# -8 - -13 = 5
# -4 - -8 = 4
# -3 - -4 = 1
# -1 - -3 = 2

(-4, -3)

In [ ]:
s = [1, 3, 4, 8, 13, 17, 20]
m = max(abs(min(s)), max(s)) # 양수였을 경우에는 (1, 20)
index = 0
for i in range(len(s) - 1):
    if m > s[i+1] - s[i]:
        index = i
        m = s[i+1] - s[i]

s[index], s[index+1]

(3, 4)

In [ ]:
s = [1, 3, 4, 8, 13, 17, 20]
m = float('inf') # inf 는 인피니티의 줄임말로
index = 0
for i in range(len(s) - 1):
    if m > s[i+1] - s[i]:
        index = i
        m = s[i+1] - s[i]

s[index], s[index+1]

(3, 4)

In [ ]:
import sys

s = [1, 3, 4, 8, 13, 17, 20]
m = sys.maxsize # inf 는 인피니티의 줄임말로
index = 0
for i in range(len(s) - 1):
    if m > s[i+1] - s[i]:
        index = i
        m = s[i+1] - s[i]

s[index], s[index+1]

(3, 4)

In [ ]:
# 메모리 적재
x = 3
y = 3

id(x), id(y)

(11256128, 11256128)

In [ ]:
# 메모리 적재
x = 257
y = 257

id(x), id(y)

(140349700436112, 140349700437616)

In [ ]:
s  = [1, 3, 4, 8, 13, 17, 20]
ss = [3, 4, 8, 13, 17, 20]

list(zip(s, ss))

[(1, 3), (3, 4), (4, 8), (8, 13), (13, 17), (17, 20)]

In [ ]:
sorted(list(zip(s, ss)), key=lambda i:i[1]-i[0])
sorted(list(zip(s, ss)), key=lambda i:i[1]-i[0])[0]

(3, 4)

In [ ]:
def 두수의차(i):
    return i[1] - i[0]

sorted(list(zip(s, ss)), key=두수의차) # 기본이 오름차순이어서

[(3, 4), (1, 3), (17, 20), (4, 8), (13, 17), (8, 13)]

In [ ]:
# 성민님 풀이
# pep8 영문자 79자

nums =[1, 3, 4, 8, 13, 17, 20]

def solution(arr):
    return sorted([[num2 - num1, (num1, num2)]
                        for num1, num2 in zip(arr, arr[1:])],
                        key=lambda ele: ele[0]
                  )[0][1]

solution(nums)

(3, 4)

In [ ]:
[[num2 - num1, (num1, num2)] for num1, num2 in zip(s, s[1:])]

[[3, (-20, -17)],
 [4, (-17, -13)],
 [5, (-13, -8)],
 [4, (-8, -4)],
 [1, (-4, -3)],
 [2, (-3, -1)]]

```python
# 형태 1
lambda input:output

# 형태 2
def f(input):
    return output
```

In [ ]:
def 제곱(x):
    return x**2
    
list(map(제곱, [1, 2, 3, 4]))

[1, 4, 9, 16]

In [ ]:
list(map(lambda x:x**2, [1, 2, 3, 4]))

[1, 4, 9, 16]

In [ ]:
s = [-20, -17, -13, -8, -4, -3, -1]
sorted(list(zip(s, s[1:])), key=lambda i:i[1]-i[0])

[(-4, -3), (-3, -1), (-20, -17), (-17, -13), (-8, -4), (-13, -8)]

In [ ]:
sorted(list(zip(s, s[1:])), key=lambda i:i[1]-i[0])[0]

(-4, -3)

In [ ]:
d = {
    'one'   : [1, 9, 100],
    'two'   : [2, 8, 200],
    'three' : [3, 7, 150],
    'four'  : [4, 6, 142],
    'five'  : [5, 5, 111],
}
for i in d:
    print(d[i])

[1, 9, 100]
[2, 8, 200]
[3, 7, 150]
[4, 6, 142]
[5, 5, 111]

In [ ]:
def 정렬함수(value):
    return d[value][2]

d = {
    'one'   : [1, 9, 100],
    'two'   : [2, 8, 200],
    'three' : [3, 7, 150],
    'four'  : [4, 6, 142],
    'five'  : [5, 5, 111],
}
sorted(d, key=정렬함수)

['one', 'five', 'four', 'three', 'two']

In [ ]:
def 정렬함수(value):
    return d[value][2]

d = {
    'one'   : [1, 9, 100],
    'two'   : [2, 8, 200],
    'three' : [3, 7, 150],
    'four'  : [4, 6, 142],
    'five'  : [5, 5, 111],
}
sorted(d, key=정렬함수, reverse=True)

['two', 'three', 'four', 'five', 'one']

## 1.4 기본 자료구조 및 알고리즘
1. 스택과 큐
2. 연결리스트
3. 트리와 그래프
    * 3.1 트리 구현
    * 3.2 트리의 순회
4. 정렬 알고리즘
    * 4.1 선택정렬
    * 4.2 삽입정렬
    * 4.3 병합정렬
    * 4.4 퀵정렬
5. 페이지 교체 알고리즘
6. 슬라이딩 윈도우와 투 포인터 알고리즘

### 1.4.1 스택과 큐
* S.top(): 스택의 가장 윗 데이터를 반환한다. 만약 스택이 비었다면 이 연산은 정의불가 상태이다.
* S.pop(): 스택의 가장 윗 데이터를 삭제한다. 스택이 비었다면 연산 정의불가 상태.
* S.push(): 스택의 가장 윗 데이터로 top이 가리키는 자리 위에(top = top + 1) 메모리를 생성, 데이터 x를 넣는다.
* S.empty(): 스택이 비었다면 1을 반환하고,그렇지 않다면 0을 반환한다.

In [ ]:
# 연결리스트를 사용하여 구현하는 것이 일반적이지만 
# 연결리스트가 다음 챕터에 나오기 때문에 리스트로 구현하도록 하겠습니다.

# 연결리스트가 뒤에 배치된 것은 의도한 것입니다. 
# 쉬운 접근 -> 어려운 접근으로 점진적 부하를 드리기 위함입니다.

# https://ko.wikipedia.org/wiki/%EC%8A%A4%ED%83%9D 이러한 모습에 
# ADT를(Abstract Data Type, 추상자료형) 구현하면 되는 것입니다.
class Stack:
    def __init__(self):
        self.배열 = []

    def push(self, data):
        self.배열.append(data)

    def pop(self):
        return self.배열.pop()

    def top(self):
        return self.배열[-1]

    def bottom(self):
        return self.배열[0]

    def empty(self):
        if not self.배열:
            return 1
        return 0

In [ ]:
s = Stack()
s.push(10)
s.push(20)
s.배열

[10, 20]

In [ ]:
s = Stack()
s.push(10)
s.push(20)
s.push(30)
s.push(40)
s.push(50)
s.push(30)
s.push(40)
s.pop()
s.배열

[10, 20, 30, 40, 50, 30]

In [ ]:
dir(s.배열)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

### 1.4.2 연결리스트
* 연결리스트, 메모리 효율을 위해 사용되는 경우가 많음
* 개념 : https://en.wikipedia.org/wiki/Linked_list
* 알고리즘 시각화 : https://visualgo.net/ko

In [ ]:
연결리스트 = {
    'head' : {
        'value': 22,
        'next': {
            'value' : 2,
            'next' : {
                'value' : 90,
                'next' : {
                    'value' : 77,
                    'next' : None
                }
            }
        }
    }
}

In [ ]:
# 22 -> 2 -> 90 -> 77

In [ ]:
연결리스트['head']['next']['next']['value']

90

Quiz)
* head -> [90, next] -> [2, next] -> [77, next] -> [35, next] -> [21, next] -> None
* 35를 출력해주세요.

In [ ]:
연결리스트 = {
            'head': {
                'value': 90,
                'next': {
                    'value': 2,
                    'next': {
                        'value': 77,
                        'next': {
                            'value': 35,
                            'next': {
                                'value': 21,
                                'next': None
                            }
                        }
                    }
                }
            }
        }

In [ ]:
연결리스트['head']['next']['next']['next']['value']

35

In [ ]:
연결리스트 = {
    'head': None
}

list1 = {'value':12, 'next':None}
list2 = {'value':99, 'next':None}
list3 = {'value':37, 'next':None}
list4 = {'value':2, 'next':None}

list1['next'] = list2
list2['next'] = list3
list3['next'] = list4

연결리스트['head'] = list1

In [ ]:
연결리스트['head']['next']['value']

99

In [ ]:
# dir(list1)

In [ ]:
# step 1
class Node:
    def __init__(self, a):
        print(f'{a}가 입력되어 인스턴스가 생성되었어요!')
        self.data = a
        self.next = None

list1 = Node(12)
list2 = Node(99)
list3 = Node(37)
list4 = Node(2)

list1.next = list2
list2.next = list3
list3.next = list4

# dir(list1)

12가 입력되어 인스턴스가 생성되었어요!
99가 입력되어 인스턴스가 생성되었어요!
37가 입력되어 인스턴스가 생성되었어요!
2가 입력되어 인스턴스가 생성되었어요!

In [ ]:
list1.next.next.data

37

In [ ]:
l = [1, 2, 3, 4]
l.sort()

In [ ]:
# step 2
class Node:
    def __init__(self, data):
        self.data = data
        self.next = None

# head -> ['init', next]
#               ↑ 
#              tail
# head -> ['init', next] -> [90, next]
#                               ↑ 
#                              tail

class LinkedList:
    def __init__(self):
        init = Node('init')
        self.head = init
        self.tail = init

        self.현재노드 = None
        self.데이터수 = 0
    
    def append(self, data):
        새로운노드 = Node(data)
        self.tail.next = 새로운노드
        self.tail = 새로운노드
        self.데이터수 += 1

In [ ]:
l = LinkedList()
l.append(10)
l.append(20)
l.append(30)
l.append(40)
l.append(50)
l.append(15)

In [ ]:
l.head.data #init
l.head.next.data #10
l.head.next.next.data #20

'init'

In [ ]:
# step 3.1 length 등 기능 구현

# step 2
class Node:
    def __init__(self, data):
        self.data = data
        self.next = None

# head -> ['init', next]
#               ↑ 
#              tail
# head -> ['init', next] -> [90, next]
#                               ↑ 
#                              tail

class LinkedList:
    def __init__(self):
        init = Node('init')
        self.head = init
        self.tail = init

        self.현재노드 = None
        self.데이터수 = 0

    def __len__(self):
        return self.데이터수

    def __str__(self):
        return 'hello world'
    
    def append(self, data):
        새로운노드 = Node(data)
        self.tail.next = 새로운노드
        self.tail = 새로운노드
        self.데이터수 += 1

In [ ]:
l = LinkedList()
l.append(10)
l.append(20)
l.append(30)
l.append(40)
l.append(50)
l.append(15)

In [ ]:
len(l)

6

In [ ]:
print(l)
# [10, 20, 30, 40, 50, 15]
# <10 -> 20 -> 30 -> 40 -> 50 -> 15>

hello world

In [ ]:
# step 3.2 length 등 기능 구현 - __str__구현

# step 2
class Node:
    def __init__(self, data):
        self.data = data
        self.next = None

# head -> ['init', next]
#               ↑ 
#              tail
# head -> ['init', next] -> [90, next]
#                               ↑ 
#                              tail

class LinkedList:
    def __init__(self):
        init = Node('init')
        self.head = init
        self.tail = init

        self.현재노드 = None
        self.데이터수 = 0

    def __len__(self):
        return self.데이터수

    def __str__(self):
        현재노드 = self.head
        현재노드 = 현재노드.next
        s = ''

        for i in range(self.데이터수):
            s += f' {현재노드.data} ->'
            현재노드 = 현재노드.next

        return f'<{s[1:-3]}>'
    
    def append(self, data):
        새로운노드 = Node(data)
        self.tail.next = 새로운노드
        self.tail = 새로운노드
        self.데이터수 += 1

In [ ]:
l = LinkedList()
l.append(10)
l.append(20)
l.append(30)
l.append(40)
l.append(50)
l.append(15)

In [ ]:
print(l)
# [10, 20, 30, 40, 50, 15]
# <10 -> 20 -> 30 -> 40 -> 50 -> 15>

<10 -> 20 -> 30 -> 40 -> 50 -> 15 >

In [ ]:
호준 = print
호준('hello world')

hello world

In [ ]:
# step 3.3 length 등 기능 구현 - 나머지 기능 구현

# step 2
class Node:
    def __init__(self, data):
        self.data = data
        self.next = None

# head -> ['init', next]
#               ↑ 
#              tail
# head -> ['init', next] -> [90, next]
#                               ↑ 
#                              tail

class LinkedList:
    def __init__(self):
        init = Node('init')
        self.head = init
        self.tail = init

        self.현재노드 = None
        self.데이터수 = 0

    def __len__(self):
        return self.데이터수

    def __str__(self):
        현재노드 = self.head
        현재노드 = 현재노드.next
        s = ''

        for i in range(self.데이터수):
            s += f' {현재노드.data} ->'
            현재노드 = 현재노드.next

        return f'<{s[1:-3]}>'
    
    def append(self, data):
        새로운노드 = Node(data)
        self.tail.next = 새로운노드
        self.tail = 새로운노드
        self.데이터수 += 1

    def pop(self):
        마지막값 = self.tail.data
        현재노드 = self.head

        for i in range(self.데이터수):
            if 현재노드.next is self.tail:
                self.tail = 현재노드
                break
            현재노드 = 현재노드.next

        self.데이터수 -= 1
        return 마지막값

* 과제 1 : 이해가 안되시는 부분은 손으로 직접 써보세요.
* 과제 2 : 값의 인덱스를 반환하는 find만 구현을 직접 해보세요. find말고 다른 기능들까지 구현하셔도 좋습니다. shift, unshift, get 등이요!

In [ ]:
# 한성민님 과제 코드
# 직접 풀어보신 분만 아래 코드를 확인해보세요!
class Node:
    def __init__(self, data):
        self.data = data
        self.next = None


class SinglyLinkedList:
    def __init__(self):
        self.head = None
        self.tail = None
        self.length = 0

    def push(self, data):
        new_node = Node(data)
        if not self.head:
            self.head = new_node
            self.tail = self.head
        else:
            self.tail.next = new_node
            self.tail = new_node

        self.length += 1
        return self

    def pop(self):
        if not self.head:
            return None

        current = self.head

        new_tail = current

        while current.next:
            new_tail = current
            current = current.next

        self.tail = new_tail
        self.tail.next = None
        self.length -= 1
        if self.length == 0:
            self.head = None
            self.tail = None

        return current


    def shift(self):
        if not self.head:
            return None
        current_head = self.head
        self.head = current_head.next
        self.length -= 1
        if self.length == 0:
            self.tail = None

        return current_head

    def unshift(self, data):
        new_node = Node(data)
        if not self.head:
            self.head = new_node
            self.tail = self.head

        new_node.next = self.head
        self.head = new_node
        self.length += 1
        return self

    def get(self, index):
        if index < 0 | index >= self.length:
            return None
        counter = 0
        current = self.head
        while counter != index:
            current = current.next
            counter += 1
        return current

    def set_data(self, index, data):
        foundNode = self.get(index)
        if foundNode:
            foundNode.data = data
            return True

        return False

    def insert(self, index, data):
        if index < 0 | index > self.length:
            return False
        if index == self.length:
            return bool(self.push(data))
        if index == 0:
            return bool(self.unshift(data))

        new_node = Node(data)
        prev = self.get(index - 1)
        temp = prev.next
        prev.next = new_node
        new_node.next = temp
        self.length += 1
        return True

    def remove(self, index):
        if index < 0 | index >= self.length:
            return None
        if index == 0:
            return self.shift()
        if index == self.length - 1:
            return self.pop()

        previousNode = self.get(index - 1)
        removed = previousNode.next
        previousNode.next = removed.next
        self.length -= 1
        return removed

    def reverse(self):
        node = self.head
        self.head = self.tail
        self.tail = node
        prev = None
        for _ in range(self.length):
            next = node.next
            node.next = prev
            prev = node
            node = next

        return self

    def print_all(self):
        arr = []
        current = self.head
        while current:
            arr.append(current.data)
            current = current.next
        print(arr)


arr = SinglyLinkedList()
arr.push(100)
arr.push(201)
arr.push(250)
arr.push(350)
arr.push(999)
arr.insert(1, 12313)
arr.reverse()
arr.print_all()

# [999, 350, 250, 201, 12313, 100]

[999, 350, 250, 201, 12313, 100]

In [ ]:
# __str__ 에 대한 고찰

class Node:
    def __init__(self, data):
        self.data = data
        self.next = None

class LinkedList:
    def __init__(self):
        init = Node('init')
        self.head = init
        self.tail = init

        self.현재노드 = None
        self.데이터수 = 0
        self.출력 = ''

    def __str__(self):
        # 현재노드 = self.head
        # 현재노드 = 현재노드.next
        # s = ''

        # for i in range(self.데이터수):
        #     s += f' {현재노드.data} ->'
        #     현재노드 = 현재노드.next

        return self.출력

In [91]:
# 더블 링크드 리스트
double_linked_list = {
    'head': None
}

list1 = {'value': 12, 'next': None, 'pre': None}
list2 = {'value': 99, 'next': None, 'pre': None}
list3 = {'value': 37, 'next': None, 'pre': None}
list4 = {'value': 2, 'next': None, 'pre': None}
double_linked_list['head'] = list1
list1['next'] = list2
list2['next'] = list3
list3['next'] = list4
list1['pre'] = double_linked_list
list2['pre'] = list1
list3['pre'] = list2
list4['pre'] = list3

In [90]:
double_linked_list['head']['next']['next']['value']
double_linked_list['head']['next']['next']['pre']['value']

99

In [92]:
# step 1
class Node:
    def __init__(self, data):
        self.data = data
        self.next = None
        self.pre = None

list1 = Node(12)
list2 = Node(99)
list3 = Node(37)
list4 = Node(2)

list1.next = list2
list2.next = list3
list3.next = list4

list2.pre = list1
list3.pre = list2
list4.pre = list3

In [94]:
list1.next.next.data
list1.next.next.pre.data

99

In [ ]:
# step 2
class Node:
    def __init__(self, data):
        self.data = data
        self.next = None
        self.pre = None

class DoubleLinkedList:
    def __init__(self):
        init = Node('init')
        self.head = init
        self.tail = init

        self.현재노드 = None
        self.데이터수 = 0
    
    def append(self, data):
        new_node = Node(data)
        self.tail.next = new_node
        new_node.pre = self.tail # 코드 추가
        self.tail = new_node
        self.데이터수 += 1

    # ... 중략 ...

## 1.4.3 트리와 그래프

### 1.4.3.1 트리 구현
* 트리의 기본 형태
    * value
    * child - left
    * child - right

In [ ]:
'value': 5,
        'left': {},
        'right': {}

In [95]:
tree = {
    'root': {
        'value': 5,
        'left': {
            'value': 3,
            'left': {
                'value': 1,
                'left': None,
                'right': None
            },
            'right': {
                'value': 4,
                'left': None,
                'right': None
            }
        },
        'right': {
            'value': 8,
            'left': {
                'value': 6,
                'left': None,
                'right': None
            },
            'right': {
                'value': 9,
                'left': None,
                'right': None
            }
        }
    }
}

In [99]:
tree
tree['root']['value']
tree['root']['right']['value']

8

In [101]:
tree = {
    'root' : {
        'value' : 55,
        'left' : {
            'value': 30,
            'left': {
                'value': 25,
                'left': {
                    'value': 21,
                    'left': None,
                    'right': None,
                },
                'right': None
            },
            'right': {
                'value': 37,
                'left': None,
                'right': None
            },
        },
        'right' : {
            'value': 70,
            'left': {
                'value': 75,
                'left': None,
                'right': None
            },
            'right': {
                'value': 77,
                'left': None,
                'right': {
                    'value': 80,
                    'left': None,
                    'right': None,
                }
            },
        },
    }
}

In [102]:
tree
tree['root']['value']
tree['root']['right']['value']
tree['root']['left']['left']['value']

25

### 1.4.3.2 트리의 순회
object나 array(기존 자료형)로 tree나 linked list를 구현할 수 있는데 왜 class로 구현할까요?

* 더 lite한 모델을 만들기 위해
* 확장성
* OOP(Object-Oriented Programming, 객체 지향 프로그래밍)에 철학에 맞기 때문에

In [103]:
root = {
    'value': 55,
    'left': None,
    'right': None
}

node1 = {'value': 99, 'left': None, 'right': None}
node2 = {'value': 53, 'left': None, 'right': None}
node3 = {'value': 37, 'left': None, 'right': None}
node4 = {'value': 54, 'left': None, 'right': None}

root['left'] = node2
root['right'] = node1
node2['left'] = node3
node2['right'] = node4

In [108]:
root['value']
root['left']['value']
root['right']['value']
root['left']['left']['value']

37

In [109]:
# step 1

class Node:
    def __init__(self, data):
        self.data = data
        # self.child = [] 2진 트리가 아닌 경우 child를 사용할 수 있습니다.
        self.left = None
        self.right = None

node1 = Node(55)
node2 = Node(99)
node3 = Node(53)
node4 = Node(37)
node5 = Node(54)

node1.left = node3
node1.right = node2
node3.left = node4
node3.right = node5

In [112]:
node1.data
node1.right.data
node1.left.left.data

37

In [114]:
# step 2

class Node:
    def __init__(self, data):
        self.data = data
        self.left = None
        self.right = None

class Tree:
    def __init__(self, data):
        init = Node(data)
        self.root = init
        self.length = 0

    def length(self):
        return self.length

    def insert(self, data):
        new_node = Node(data)
        curr_node = self.root

        while(curr_node):
            if data == curr_node.data:
                # 값이 같으면 추가시켜주지 않습니다.
                return
            if data < curr_node.data:
                # 들어온 데이터가 작은 경우 왼쪽에 붙어야 합니다.
                # 해당 데이터 부분이 비어있으면 데이터를 넣고, 비어있지 않으면 계속 순회
                if not curr_node.left:
                    curr_node.left = new_node
                    self.length += 1
                    return
                curr_node = curr_node.left
            if data > curr_node.data:
                # 들어온 데이터가 큰 경우 오른쪽에 붙어야 합니다.
                # 해당 데이터 부분이 비어있으면 데이터를 넣고, 비어있지 않으면 계속 순회
                if not curr_node.right:
                    curr_node.right = new_node
                    self.length += 1
                    return
                curr_node = curr_node.right
    
t = Tree(5)
t.insert(3)
t.insert(8)
t.insert(1)
t.insert(4)
t.insert(6)
t.insert(9)

In [120]:
t.root.data
t.root.left.data
t.root.left.right.data

4

In [123]:
# step 3 깊이 우선 탐색, 너비 우선 탐색 구현

class Node:
    def __init__(self, data):
        self.data = data
        self.left = None
        self.right = None

class Tree:
    def __init__(self, data):
        init = Node(data)
        self.root = init
        self.length = 0

    def length(self):
        return self.length

    def insert(self, data):
        new_node = Node(data)
        curr_node = self.root

        while(curr_node):
            if data == curr_node.data:
                # 값이 같으면 추가시켜주지 않습니다.
                return
            if data < curr_node.data:
                # 들어온 데이터가 작은 경우 왼쪽에 붙어야 합니다.
                # 해당 데이터 부분이 비어있으면 데이터를 넣고, 비어있지 않으면 계속 순회
                if not curr_node.left:
                    curr_node.left = new_node
                    self.length += 1
                    return
                curr_node = curr_node.left
            if data > curr_node.data:
                # 들어온 데이터가 큰 경우 오른쪽에 붙어야 합니다.
                # 해당 데이터 부분이 비어있으면 데이터를 넣고, 비어있지 않으면 계속 순회
                if not curr_node.right:
                    curr_node.right = new_node
                    self.length += 1
                    return
                curr_node = curr_node.right

    # 깊스너큐(깊이우선 탐색은 스택, 너비우선 탐색은 큐)
    # 파선아실(파라미터-선언, 아규먼트-실행)
    def DFS(self):
        # 깊이우선탐색, DFS(Depth First Search)
        # Stack 이용!
        result = []
        stack = [self.root]

        while stack:
            current = stack.pop()
            if current.right:
                stack.append(current.right)
            if current.left:
                stack.append(current.left)
            result.append(current.data)
        return result

t = Tree(5)
t.insert(3)
t.insert(8)
t.insert(1)
t.insert(4)
t.insert(6)
t.insert(9)

t.DFS()

[5, 3, 1, 4, 8, 6, 9]

In [125]:
# step 3 깊이 우선 탐색, 너비 우선 탐색 구현

class Node:
    def __init__(self, data):
        self.data = data
        self.left = None
        self.right = None

class Tree:
    def __init__(self, data):
        init = Node(data)
        self.root = init
        self.length = 0

    def length(self):
        return self.length

    def insert(self, data):
        new_node = Node(data)
        curr_node = self.root

        while(curr_node):
            if data == curr_node.data:
                # 값이 같으면 추가시켜주지 않습니다.
                return
            if data < curr_node.data:
                # 들어온 데이터가 작은 경우 왼쪽에 붙어야 합니다.
                # 해당 데이터 부분이 비어있으면 데이터를 넣고, 비어있지 않으면 계속 순회
                if not curr_node.left:
                    curr_node.left = new_node
                    self.length += 1
                    return
                curr_node = curr_node.left
            if data > curr_node.data:
                # 들어온 데이터가 큰 경우 오른쪽에 붙어야 합니다.
                # 해당 데이터 부분이 비어있으면 데이터를 넣고, 비어있지 않으면 계속 순회
                if not curr_node.right:
                    curr_node.right = new_node
                    self.length += 1
                    return
                curr_node = curr_node.right

    # 깊스너큐(깊이우선 탐색은 스택, 너비우선 탐색은 큐)
    # 파선아실(파라미터-선언, 아규먼트-실행)
    def DFS(self):
        # 깊이우선탐색, DFS(Depth First Search)
        # Stack 이용!
        result = []
        stack = [self.root]

        while stack:
            current = stack.pop()
            if current.right:
                stack.append(current.right)
            if current.left:
                stack.append(current.left)
            result.append(current.data)
        return result

    def BFS(self):
        # 너비우선탐색, BFS(Breadth First Search)
        # Queue 이용!
        result = []
        queue = [self.root]

        while queue:
            current = queue.pop(0)
            if current.left:
                queue.append(current.left)
            if current.right:
                queue.append(current.right)
            result.append(current.data)
        return result

t = Tree(5)
t.insert(3)
t.insert(8)
t.insert(1)
t.insert(4)
t.insert(6)
t.insert(9)

t.DFS()
t.BFS()

[5, 3, 8, 1, 4, 6, 9]

## 1.5 재귀함수

In [6]:
# 회문은 글자의 앞 뒤가 같은 문자열
# 큐와 스택을 이용한 회문여부 판별
def palindrome(string):
    queue = []
    stack = []

    for s in string:
        if s.isalpha():
            queue.append(s.lower())
            stack.append(s.lower())

    while queue:
        if queue.pop(0) != stack.pop():
            return False
        
    return True

palindrome('hello world')
palindrome('hello')
palindrome('heleh')
palindrome('오디오')

True

In [ ]:
dir('hello world') # 메소드 전부 알고 있으셔야 합니다!

In [7]:
# 재귀함수를 이용한 회문여부 판별
def palindrome(string):
    if len(string) < 2:
        return True
    if string[0] != string[-1]:
        return False
    return palindrome(string[1:-1])

palindrome('hello world')
palindrome('hello')
palindrome('heleh')
palindrome('오디오')

True

* dict 순서는 3.7 이상에서 보장

In [58]:
{'one':100, 'two':10, 'three':52}

{'one': 100, 'three': 52, 'two': 10}

In [59]:
print({'one':100, 'two':10, 'three':52})

{'one': 100, 'two': 10, 'three': 52}

* python에 3.5에서 추가된 type hint는 코드리뷰를 엄격하게 하는 회사에서 많이 사용합니다.(실무에서 많이 사용하는 추세입니다.)

In [77]:
import re

# 재귀함수를 이용한 회문여부 판별
def palindrome(string):
    string = list(string)
    while len(string) >= 2:
        if string.pop(0) != string.pop():
            return False
    return True

def remove_garbage_value(s:str) -> str:
    s = s.lower()
    s = re.sub('[0-9 ]', '', s)
    return s

palindrome(remove_garbage_value('hello world'))
palindrome(remove_garbage_value('helleh'))
palindrome(remove_garbage_value('hel123131313131231231231231239859696969leh'))
palindrome(remove_garbage_value('helleh'))
palindrome(remove_garbage_value('heleh'))

True

In [78]:
import re

def remove_garbage_value(f):
    def wrapper(s):
        s = s.lower()
        s = re.sub('[0-9 ]', '', s)
        return f(s)
    return wrapper

@remove_garbage_value
def palindrome(string):
    string = list(string)
    while len(string) >= 2:
        if string.pop(0) != string.pop():
            return False
    return True

palindrome('hello world')
palindrome('helleh')
palindrome('hel123131313131231231231231239859696969leh')
palindrome('helleh')
palindrome('heleh')

True

In [ ]:
# step1 : 반복문
# step2 : 재귀함수
# step3 : 어려운 방법으로 풀이(피보나치)

In [9]:
# 팩토리얼 5!

result = 1
for i in range(1, 6): # 1부터 5까지
    result *= i

result

120

In [10]:
def factorial(number):
    result = 1
    for i in range(1, number+1):
        result *= i

    return result

factorial(5)

120

In [11]:
def factorial(number):
    if number > 1:
        return number * factorial(number - 1)
    return 1

factorial(5)

# factorial(5)   ->   5   factorial(4)   ->   5 * 24
# factorial(4)   ->   4   factorial(3)   ->   4 * 6
# factorial(3)   ->   3   factorial(2)   ->   3 * 2
# factorial(2)   ->   2   factorial(1)   ->   2 * 1
# factorial(1)   ->   1

120

In [12]:
# 무한반복
while True:
    break

l = [1]
for x in l:
    l.append(x + 1)
    break

In [14]:
def console():
    userInput = input('#')
    if userInput == 'exit':
        return None
    console()

console()

#hello
#touch 001.py
#exit

In [15]:
# 문자열뒤집기(슬라이싱이 빠르고 편합니다.)
s = 'hello world'
s[::-1]

'dlrow olleh'

In [16]:
# 반복문을 통해 문자열 뒤집기
result = ''
for i in 'hello world':
    result = result + i

result

'hello world'

In [17]:
result = ''
for i in 'hello world':
    result = i + result

result

'dlrow olleh'

In [18]:
result = 0
for i in '1005552':
    result += int(i)

result

18

In [25]:
sum(list(map(int, list('1005552'))))

18

In [60]:
sum(map(int, list('1005552')))

18

In [27]:
# 재귀로 문자열 뒤집기
result = ''
def reverseString(s):
    global result
    if s == '':
        return None
    else:
        reverseString(s[1:])
        result += s[0] #주의

reverseString('hello')
result

# factorial('hello')   ->   result = result + s[0]   ->   'olleh'
# factorial('ello')   ->   result = result + s[0]   ->   'olle'
# factorial('llo')   ->   result = result + s[0]   ->   'oll'
# factorial('lo')   ->   result = result + s[0]   ->   'ol'
# factorial('o')   ->   result = result + s[0]   ->   'o'
# factorial('')   ->   result = result + s[0]   ->   ''

'dlrow olleh'

In [ ]:
#성민님 풀이
def reverse_string(s): # snake 표기법을 python에서 권고하고 있습니다.
    if not s:
        return s
    return reverse_string(s[1:]) + s[0]

In [32]:
curr, next = 0, 1
for _ in range(8): # 회사 python 컨벤션 따라 사용해주세요.(https://google.github.io/styleguide/pyguide.html)
     curr, next = next, curr + next

curr

21

In [35]:
def fib(num):
    curr, next = 0, 1
    for _ in range(num):
        curr, next = next, curr + next

    return curr

fib(5)

5

![image.png]()

In [40]:
# 피보나치 재귀 풀이
def fib(num):
    if num == 0:
        return 0
    if num == 1 or num == 2:
        return 1
    else:
        return fib(num-1) + fib(num-2)

fib(30)

832040

In [42]:
100 in {'one':100, 'two':200}
'one' in {'one':100, 'two':200}

True

In [46]:
# 메모이제이션을 활용한 피보나치 재귀 풀이
dic = {1:1, 2:1} # list도 많이 사용합니다.

def fib_memo(n):
    if n in dic:
        return dic[n]

    dic[n] = fib_memo(n-1) + fib_memo(n-2)
    return dic[n]

fib_memo(6)


# f(6)      dict = {1:1, 2:1, 6:f(5) + f(4)}
# f(4)      dict = {1:1, 2:1, 6:f(5) + f(4), 4:f(3)+1}
# f(3)      dict = {1:1, 2:1, 6:f(5) + 3   , 4:3     , 3:2}
# ...

8

In [48]:
from functools import lru_cache

@lru_cache(maxsize=None)
def fib(num):
    if num == 0:
        return 0
    if num == 1 or num == 2:
        return 1
    else:
        return fib(num-1) + fib(num-2)

fib(50)

12586269025

In [ ]:
#데코레이터, 클로저(팩토리 함수, 지금 정리)

In [53]:
# 클로저
def a(x):
    def b(y):
        return x ** y
    return b


test2 = a(2)
test2(5) # 2의 승수

test3 = a(3)
test3(3) # 3의 승수

27

In [54]:
# 데코레이터
def print_hello(func):
    def new_func():
        print("hello world")
        func()
    return new_func

def func1():
    print("func1입니다.")

def func2():
    print("func2입니다.")

def func3():
    print("func3입니다.")

print_hello(func1)() # new_func()
print_hello(func2)()
print_hello(func3)()

hello world
func1입니다.
hello world
func2입니다.
hello world
func3입니다.

In [56]:
func1

In [55]:
# 데코레이터
def print_hello(func):
    def new_func():
        print("hello world")
        func()
    return new_func

@print_hello
def func1():
    print("func1입니다.")

@print_hello
def func2():
    print("func2입니다.")

@print_hello
def func3():
    print("func3입니다.")

func1() # new_func()
func2()
func3()

hello world
func1입니다.
hello world
func2입니다.
hello world
func3입니다.

```python
@로그인
def 비밀게시판():
    #글쓰기
    return None

@전처리
def 시각화():
    #시각화 기능
    return None
```